BACKEND_URL=http://localhost:3000
BACKEND_ALLOWED_ORIGINS=*
COUCHDB_URL=http://localhost:5984
COUCHDB_USER=admin
COUCHDB_PASSWORD=changeme
COUCHDB_BIND_ADDRESS=0.0.0.0
COUCHDB_AUTH_SECRET=couch-auth-secret
COUCHDB_AUTH_TIMEOUT=600
COUCHDB_ALLOWED_ORIGINS=*
COUCHDB_DATABASE_PREFIX=rezero_
